@charset "utf-8";

@font-face {
    font-family: "platformIcon";
    src: url("https://s3-ap-northeast-1.amazonaws.com/ehanlin-web-resource/platform/1.0.0/resource/font/platformIcon.eot");
    src: url("https://s3-ap-northeast-1.amazonaws.com/ehanlin-web-resource/platform/1.0.0/resource/font/platformIcon.eot#iefix") format("embedded-opentype"),
    url("https://s3-ap-northeast-1.amazonaws.com/ehanlin-web-resource/platform/1.0.0/resource/font/platformIcon.woff") format("woff"),
    url("https://s3-ap-northeast-1.amazonaws.com/ehanlin-web-resource/platform/1.0.0/resource/font/platformIcon.ttf") format("truetype"),
    url("https://s3-ap-northeast-1.amazonaws.com/ehanlin-web-resource/platform/1.0.0/resource/font/platformIcon.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
[class^="platformIcon-"]:before, [class*=" platformIcon-"]:before,
[class^="platformIcon-"]:after, [class*=" platformIcon-"]:after {
    font-family: platformIcon;
    font-size: 20px;
    font-style: normal;
}

.platformIcon-header_news:before {
    content: "\e000";
}

.platformIcon-shoppingcart_product:before {
    content: "\e001";
}

.platformIcon-eventpage_cross:before {
    content: "\e002";
}

.platformIcon-header_event:before {
    content: "\e003";
}

.platformIcon-activation_key:before {
    content: "\e004";
}

.platformIcon-contactus_send:before {
    content: "\e005";
}

.platformIcon-header_mycourses:before {
    content: "\e006";
}

.platformIcon-profile_save:before {
    content: "\e007";
}

.platformIcon-header_cart:before {
    content: "\e008";
}

.platformIcon-shoppingcart_coupon:before {
    content: "\e009";
}

.platformIcon-eventpage_checkmark:before {
    content: "\e00a";
}

@font-face {
    font-family: "parents";
    src: url("https://s3-ap-northeast-1.amazonaws.com/ehanlin-web-resource/platform/1.0.0/resource/font/parentsicon.eot");
    src: url("https://s3-ap-northeast-1.amazonaws.com/ehanlin-web-resource/platform/1.0.0/resource/font/parentsicon.eot#iefix") format("embedded-opentype"),
    url("https://s3-ap-northeast-1.amazonaws.com/ehanlin-web-resource/platform/1.0.0/resource/font/parentsicon.woff") format("woff"),
    url("https://s3-ap-northeast-1.amazonaws.com/ehanlin-web-resource/platform/1.0.0/resource/font/parentsicon.ttf") format("truetype"),
    url("https://s3-ap-northeast-1.amazonaws.com/ehanlin-web-resource/platform/1.0.0/resource/font/parentsicon.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
[class^="parents-"]:before, [class*=" parents-"]:before,
[class^="parents-"]:after, [class*=" parents-"]:after {
    font-family: parents;
    font-size: 20px;
    font-style: normal;
}
.parents-5:before {
     content: "\e000";
}
.parents-4:before {
    content: "\e001";
}
.parents-3:before {
    content: "\e002";
}
.parents-1:before {
    content: "\e003";
}
.parents-2:before {
    content: "\e004";
}

@font-face {
    font-family: "shoppingcart";
    src: url("https://s3-ap-northeast-1.amazonaws.com/ehanlin-web-resource/platform/1.0.0/resource/font/shoppingcart.eot");
    src: url("https://s3-ap-northeast-1.amazonaws.com/ehanlin-web-resource/platform/1.0.0/resource/font/shoppingcart.eot#iefix") format("embedded-opentype"),
    url("https://s3-ap-northeast-1.amazonaws.com/ehanlin-web-resource/platform/1.0.0/resource/font/shoppingcart.woff") format("woff"),
    url("https://s3-ap-northeast-1.amazonaws.com/ehanlin-web-resource/platform/1.0.0/resource/font/shoppingcart.ttf") format("truetype"),
    url("https://s3-ap-northeast-1.amazonaws.com/ehanlin-web-resource/platform/1.0.0/resource/font/shoppingcart.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
[class^="shoppingcart-"]:before, [class*=" shoppingcart-"]:before,
[class^="shoppingcart-"]:after, [class*=" shoppingcart-"]:after {
    font-family: shoppingcart;
    font-size: 20px;
    font-style: normal;
}

.shoppingcart-shop20:before {
    content: "\e000";
}

.shoppingcart-supermarket30:before {
    content: "\e001";
}

.glyph-icon a {
    font-family: "微軟正黑體", Arial, sans-serif;
    font-size: 18px;
}

.glyph-icon > a:visited, .glyph-icon > a:active, .glyph-icon > a:link, .glyph-icon > a:hover{
    text-decoration: none;
}

.glyph-icon{
    font-family: "微軟正黑體", Arial, sans-serif;
    font-size: 20px;
    margin-top: 6px;
    margin-bottom: 6px;
    text-align: center;
}

